<launch>
  <param name="/use_sim_time" value="true" />
  <!-- rosbag节点 -->
  <arg name="bagfile" default="/home/whu-hk/demo.bag"/>
  <node name="playbag" pkg="rosbag" type="play"  required="true" args="--clock --loop $(arg bagfile)"/>
  <!-- 雷达分割节点 -->
  <include file="$(find laser_segment)/launch/laser_segment.launch"/> 
  <!-- 语义分割节点-->
  <!-- 分割反投影节点-->
  <node name="image_segment_node" pkg="image_segment" type="image_segment_node"  output="screen">
	  <param name="begin_ray_id_"  value="150" />
  </node>
</launch>

